{% if showSaveBtn is not defined %}{% set showSaveBtn = false %}{% endif %}
<div class="container-fluid">
    {{ form_start(form, {name: 'form-project', attr: { name: 'form-project', class: 'form form-horizontal'}}) }}
    <div class="form-group">
        {{ form_errors( form.title ) }}
        {{ form_errors( form.active ) }}
        {{ form_label( form.title ) }}
        <div class="input-group">
            {{ form_widget( form.title ) }}
            <span class="input-group-addon">
                    {{ form_widget( form.active, {label: false}) }}
                </span>
        </div>
        <small class="form-text muted-text">Project Title | Active State</small>
    </div>
    {% if is_granted( 'ROLE_ADMIN' ) %}
        {{ form_row( form.user ) }}
    {% endif %}

    {{ form_row( form.category ) }}

    {% if showSaveBtn %}
        <button type="submit" class="btn btn-primary pull-right">
            <i class="fa fa-check"></i>
            Update Project
        </button>
    {% endif %}

    <div style="display:none">
        {{ form_rest( form ) }}
        {% if not showSaveBtn %}
            <button type="submit"></button>
        {% endif %}
    </div>
    {{ form_end( form ) }}
</div>