/**
{% block phpdoc_method_header %}
    * Delete a(n) {{ entity }}
    *
    * @ApiDoc(
    *   resource=true,
    *   description="Delete a(n) {{ entity }}",
    *   statusCodes={
    *       204="Returned when successful",
    *       404="Returned when {{ entity }} not found",
    *       500="Returned when there is a server error"
    *   }
    * )
    *
    * @Rest\View(statusCode=204)
    *
    * @param Request $request
    * @param {{ entity }} $entity
    * @return Response
{% endblock phpdoc_method_header %}
{% block phpdoc_method_annotations %}
    {% if 'annotation' == format %}
    {% endif %}
{% endblock phpdoc_method_annotations %}
*/
{% block method_definition %}
    public function deleteAction(Request $request, {{ entity }} $entity)
{% endblock method_definition %}
{
{% block method_body %}
    try {
        $this->removeAndFlush( $entity );

        return null;
    } catch( \Exception $e ) {
        return FOSView::create($e->getMessage(), Codes::HTTP_INTERNAL_SERVER_ERROR);
    }
{% endblock method_body %}
{% block method_return '' %}
}
{% block form '' %}