    /**
{% block phpdoc_method_header %}
    * Get all {{ entity }} entities
    *
    * @Rest\View(serializerEnableMaxDepthChecks=true)
    *
    * @ApiDoc(
    *       resource=true,
    *       desription="Return all {{ entity }}(s)",
    *       statusCodes={
    *           200="Returned when successful",
    *           400="Returned when there is an error",
    *           500="Returned when there is a sever error"
    *       },
    *       output="ArrayCollection<{{ namespace }}\Entity\{{ entity }}>",
    *       requirements={
    *           {
    *               "name"="limit",
    *               "dataType"="integer",
    *               "requirement"="\d+",
    *               "description"="How many {{ entity }}(s) to return"
    *           }
    *       },
    *       parameters={
    *           {"name"="limit", "dataType"="integer", "required"=true, "description"="How many {{ entity }}(s) to return" },
    *           {"name"="offset", "dataType"="integer", "required"=false, "description"="Offset from which to start listing" },
    *           {"name"="order_by", "dataType"="array", "required"=false, "description"="Order by fields. Must be an array: &order_by[name]=ASC&order_by[description]=DESC" },
    *           {"name"="filters", "dataType"="array", "required"=false, "description"="Filter by fields. Must be an array: &filters[id]=3&filters[name]=123" }
    *       }
    *   )
    *
    * @param ParamFetcherInterface $paramFetcher
    * @return Response
    *
    * @Rest\QueryParam(name="offset", requirements="\d+", nullable=true, description="Offset from which to start listing notes.")
    * @Rest\QueryParam(name="limit", requirements="\d+", default="20", description="How many notes to return.")
    * @Rest\QueryParam(name="order_by", nullable=true, array=true, description="Order by fields. Must be an array ie. &order_by[name]=ASC&order_by[description]=DESC")
    * @Rest\QueryParam(name="filters", nullable=true, array=true, description="Filter by fields. Must be an array ie. &filters[id]=3")
{% endblock phpdoc_method_header %}
{% block phpdoc_method_annotations %}
    {% if 'annotation' == format %}
    {% endif %}
{% endblock phpdoc_method_annotations %}
    */
{% block method_definition %}
    public function cgetAction(ParamFetcherInterface $paramFetcher)
{% endblock method_definition %}
{
{% block method_body %}
    try {
        $offset = $paramFetcher->get( 'offset' );
        $limit = $paramFetcher->get( 'limit' );
        $order_by = $paramFetcher->get( 'order_by' );
        $filters = !is_null( $paramFetcher->get( 'filters' ) )
            ? $paramFetcher->get( 'filters' )
            : array();

        $entities = $this->getRepository( '{{ bundle }}:{{ entity }}' )
            ->findBy( $filters, $order_by, $limit, $offset );

        if( $entities ) {
            return $entities;
        }

        return FOSView::create('Not Found', Codes::HTTP_NO_CONTENT);
    } catch( \Exception $e ) {
        return FOSView::create($e->getMessage(), Codes::HTTP_INTERNAL_SERVER_ERROR);
    }
{% endblock method_body %}
{% block method_return '' %}
}
{% block form '' %}