    /**
{% block phpdoc_method_header %}
    * Get the form for a new {{ entity }}
    *
    * @ApiDoc(
    *       resource=true,
    *       description="Get a new {{ entity }} form to create a new {{ entity }}",
    *       statusCodes={
    *           200="Returned when successful",
    *           400="Returned when there is an error",
    *           500="Returned when there is an internal server error"
    *       }
    *   )
    *
    * @Rest\View(serializerEnableMaxDepthChecks=true)
    *
    * @return Response
{% endblock phpdoc_method_header %}
{% block phpdoc_method_annotations %}
    {% if 'annotation' == format %}
    {% endif %}
{% endblock phpdoc_method_annotations %}
    */
{% block method_definition %}
    public function newAction()
{% endblock method_definition %}
{
{% block method_body %}
    $entity = new {{ entity }}();
    $form = $this->createForm({{ entity }}Type::class, $entity, array('method' => 'POST'));
    $view = FOSView::create( array( 'form' => $form->createView() ) );
    $view->setTemplate( "{{ templateNamespace }}:{{ entity_class }}Rest:new.html.twig" )
        ->setTemplateVar( 'form' );

    return $this->handleView( $view );
{% endblock method_body %}
{% block method_return '' %}
}
{% block form '' %}