{% extends cs_extendAdmin() %}

{% block body_title %}
    Administration Menus
{% endblock body_title %}

{% block body_title_actions %}
{% endblock body_title_actions %}

{% block body_content %}
    <div class="container-fluid" data-ng-controller="AdminMenusController">
        <div class="alert alert-warning">Still requires sortable api saving. Requires a second bundle with an admin menu
            to complete.
        </div>
        {{ cs_openCard( 'default', 'Admin Menus' ) }}
        <table width="100%" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th width="50" align="center">&nbsp;</th>
                <th>Namespace</th>
                <th>Bundle</th>
                <th>File</th>
                <th width="100" align="center">Position</th>
                <th width="100" align="center">Active</th>
            </tr>
            </thead>
            <tbody ui-sortable="sortOptions" data-ng-model="menus">
            <tr data-ng-repeat="menu in menus track by $index">
                <td align="center" class="handle"><a href="javascript:void(0)" class="fa fa-crosshairs"></a></td>
                <td data-ng-bind="menu.namespace"></td>
                <td data-ng-bind="menu.bundle"></td>
                <td data-ng-bind="menu.file"></td>
                <td align="center" data-ng-bind="$index"></td>
                <td align="center">
                    <a href="javascript:void(0)" data-ng-click="toggleAdminMenuActive(menu, $index)">
                        <i class="fa"
                           data-ng-class="{'fa-check text-success': menu.active, 'fa-close text-danger': !menu.active}"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        {{ cs_closeCard() }}
    </div>
{% endblock body_content %}

{% block body_js_core %}
    {{ parent() }}
    {% include 'CoreSysCoreBundle:Helpers:Angular/coreJavascripts.html.twig' %}
{% endblock body_js_core %}

{% block body_tag %}
    {{ parent() }}
    data-ng-app="CSApp"
{% endblock body_tag %}

{% block body_js %}
    {{ parent() }}
    <script type="application/javascript">
        {{ cs_helperAngularModule() }}
        var AdminMenusData = {{ menus | serialize( 'json' ) | raw }};
    </script>
    <script type="application/javascript" src="{{ cs_themeAsset( 'js/angular/adminMenus.js' ) }}"></script>
{% endblock body_js %}