{% extends cs_extendAdmin() %}

{% block body_title %}
    Site Configuration
{% endblock body_title %}

{% block body_title_actions %}
{% endblock body_title_actions %}

{% block body_content %}
    {{ cs_openCard( 'default', 'Configuration' ) }}
    {% include 'CoreSysCoreBundle:ConfigurationRest:form.html.twig' %}
    {{ cs_closeCard() }}
{% endblock body_content %}