{% extends cs_extendAdmin() %}

{% block body_title %}Dashboard{% endblock body_title %}

{% block body_content %}
    INDEX
    <br>
    {% embed 'CoreSysCoreBundle:Helpers:card.html.twig' with {cardTitle: 'Some Title'} %}
        {% block card_block_content %}
        Card Content Here
        {% endblock card_block_content %}
    {% endembed %}
{% endblock body_content %}

{% block body_js %}
    {{ parent() }}
{% endblock body_js %}