function renderAccountNames( data, type, row ) {
    var $wrapper = $( '<div />' );

    if ( $.isArray( data ) && data.length > 0 ) {
        $.each( data, function ( idx, item ) {
            if ( item.name !== null && item.name !== undefined ) {
                $wrapper.append( $( '<span style="margin-left:5px" class="label label-default">' + item.name + '</span>' ) );
            }
        } );
    } else {
        $wrapper.append( $( '<span class="label label-danger">None</span>' ) );
    }

    return $wrapper.html();
}