function renderPopulations( data, type, row ) {
    var $wrapper = $( '<div />' );

    if ( $.isArray( data ) && data.length > 0 ) {
        $.each( data, function ( idx, item ) {
            $wrapper.append( $( '<span style="margin-right:5px" class="label label-default">' + item.name + '</span>' ) );
        } );
    } else {
        $wrapper.append( $( '<span class="label label-warning">None</span>' ) );
    }

    return $wrapper.html();
}