function renderProjectName( data, type, row ) {
    if ( data !== null && data !== undefined && typeof data === 'object' ) {
        if ( data.name !== undefined && data.name !== null ) {
            return data.name;
        } else if ( data.title !== undefined && data.title !== null ) {
            return '<a href="' + Routing.generate( 'aab_admin_project', {id: row.id} ) + '">' + data.title + '</a>';
        }
    }

    return '<span class="text-warning">-</span>';
}