function renderObjectNames( data, type, row ) {
    var $wrapper = $( '<div />' );

    if ( $.isArray( data ) && data.length > 0 ) {
        $.each( data, function ( idx, obj ) {
            var name = null;
            if ( obj.name !== null && obj.name !== undefined ) {
                name = obj.name;
            } else if ( obj.title !== null && obj.title !== undefined ) {
                name = obj.title;
            }
        } );
        if ( name !== null && name !== undefined ) {
            $wrapper.append( $( '<span class="label label-default">' + name + '</span>' ) );
        }
    } else {
        $wrapper.append( $( '<span class="label label-warning">None</span>' ) );
    }

    return $wrapper.html();
}