{{ form_start( form ) }}
<div class="form-group">
    {{ form_errors( form.username ) }}
    {{ form_label( form.username ) }}
    <div class="input-group">
        {{ form_widget( form.username ) }}
        <span class="input-group-addon">
                    {{ form_widget( form.enabled, {label: false} ) }}
                </span>
    </div>
    <small class="form-text text-muted">Desired Username | Enabled?</small>
</div>
{{ form_row( form.username ) }}
    {{ form_row( form.email ) }}
    {{ form_row( form.plainPassword ) }}
    {{ form_row( form.sys_roles ) }}
<div class="form-group">
    {{ form_errors( form.gravatar ) }}
    {{ form_label( form.gravatar ) }}
    <div class="input-group">
        {{ form_widget( form.gravatar ) }}
        <span class="input-group-addon">
                    {{ form_widget( form.gravatar_use, {label: false} ) }}
                </span>
    </div>
    <small class="form-text text-muted">Email address for Gravatar | Enabled?</small>
</div>
<div class="row">
    <div class="col-xs-6 text-xs-center">{{ form_row( form.locked ) }}</div>
    <div class="col-xs-6 text-xs-center">{{ form_row( form.expired ) }}</div>
</div>
<div style="display:none">
    {{ form_rest( form ) }}
    <button type="submit"></button>
</div>
{{ form_end( form ) }}