{{ form_start( form ) }}
<div class="form-group">
    {{ form_widget( form.username, {'attr':{'placeholder':'Username'} }) }}
</div>
<div class="form-group">
    {{ form_widget( form.email, {'attr':{'placeholder':'Email Address'} }) }}
</div>
<div class="form-group">
    {{ form_widget( form.plainPassword ) }}
</div>
<div class="form-group">
    <div class="input-group">
        {{ form_widget( form.gravatar ) }}
        <span class="input-group-addon">
            {{ form_widget( form.gravatar_use, {label: false, attr:{title: 'Use Gravatar'} } ) }}
        </span>
    </div>
</div>
<div style="display:none">
    {{ form_rest( form ) }}
</div>
{{ form_end( form ) }}