{{ form_start( form ) }}
    {{ form_errors( form ) }}
<div class="form-group">
    <div class="input-group">
        {{ form_widget( form.path ) }}
        <span class="input-group-addon">
                {{ form_widget( form.active, { attr: {'data-size':'mini'} } ) }}
            </span>
    </div>
    <small>Access path to restrict access for</small>
</div>
{{ form_row( form.ip ) }}
    {{ form_row( form.anonymous ) }}
    {{ form_row( form.methods ) }}
    {{ form_row( form.channel ) }}
    {{ form_row( form.roles ) }}
<div style="display:none">
    {{ form_rest( form ) }}
    <button type="submit"></button>
</div>
{{ form_end( form ) }}