<div data-ng-controller="AdminTodosController">
    {{ cs_openCard( 'default', 'Todos', '<button type="button" class="btn btn-primary btn-sm" data-ng-click="createTodo()"><i class="fa fa-plus-circle"></i> New Todo</button>' ) }}
    <ul class="list-group initialLoading">
        <li class="list-group-item" data-ng-if="todos.length==0">
            <div class="text-xs-center">
                <span> No Todos </span><br><br>
                <button type="button" class="btn btn-primary btn-sm" data-ng-click="createTodo()"><i
                            class="fa fa-plus-circle"></i> New Todo
                </button>
            </div>
        </li>
        <li class="list-group-item" data-ng-repeat="todo in todos track by $index">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-8"><h4 data-ng-bind="todo.title" data-ng-class="{'text-success':todo.complete, 'text-danger':!todo.complete}"></h4></div>
                        <div class="col-xs-4 text-xs-right">
                            <span class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-default" title="Toggle Complete" data-ng-click="toggleComplete(todo)"><i
                                            class="fa" data-ng-class="{'fa-check text-success':todo.complete,'fa-close text-danger':!todo.complete}"></i></button>
                                <button type="button" class="btn btn-danger" title="Remove Todo" data-ng-click="deleteTodo(todo, $index)"><i
                                            class="fa fa-trash-o"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <p data-ng-bind-html="todo.body|to_trusted"></p>
                </div>
                <div class="col-xs-6 text-xs-center">
                    <span>Created: </span><small data-ng-bind="todo.createdAt"></small>
                </div>
                <div class="col-xs-6 text-xs-center">
                    <span>Updated: </span><small data-ng-bind="todo.updatedAt"></small>
                </div>
            </div>
        </li>
    </ul>
    {{ cs_closeCard() }}
</div>