<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">New Todo</h4>
</div>
<div class="modal-body">
    <div class="alert alert-danger" data-ng-if="data.error" data-ng-bind="data.error"></div>
    {% include 'CoreSysCoreBundle:TodoRest:form.html.twig' %}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" data-ng-click="save()">Create</button>
</div>