<div data-ng-controller="AdminTodosController">
    <ul class="list-group list-no-border user-list">
        <li class="list-group-item text-xs-center">
            <button type="button" class="btn btn-primary btn-xs" data-ng-click="createTodo()"><i class="fa fa-plus-circle"></i> New ToDo</button>
        </li>
        <li class="list-group-item" data-ng-repeat="todo in todos track by $index">
            <a href="javascript:void(0)" class="user-list-item">
                <div class="avatar" style="cursor:pointer" data-ng-click="toggleComplete(todo)">
                    <i class="fa" data-ng-class="{'fa-check text-success':todo.complete, 'fa-close text-danger':!todo.complete}"></i>
                </div>
                <div class="user-desc">
                    <span class="name" data-ng-class="{'text-success':todo.complete,'text-danger':!todo.complete}" data-ng-bind="todo.title"></span>
                    <span class="desc" data-ng-bind-html="todo.body|to_trusted"></span>
                    <span class="time" data-ng-bind="todo.createdAt"></span>
                </div>
            </a>
        </li>
    </ul>
</div>