/* =============
   Accounts pages
============= */
.account-pages {
    background: url("../../bundles/coresyscore/theme/default/admin/images/big/bg1.jpg") center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.wrapper-page {
    margin: 5% auto;
    position: relative;
    width: 420px;
}

.wrapper-page .card-box {
    box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.4), 0 1px 0px 0 rgba(0, 0, 0, 0.2);
}

.wrapper-page .logo {
    font-size: 42px;
    float: none;
    color: #ff9900 !important;
}

.panel-pages {
    border-radius: 6px;
}

.panel-pages .panel-body {
    padding: 30px;
}

.panel-pages .panel-heading {
    -moz-border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
    padding: 40px 20px;
    position: relative;
}

.panel-pages .panel-heading h3 {
    position: relative;
    z-index: 999;
}

.user-thumb {
    position: relative;
    z-index: 999;
}

.user-thumb img {
    height: 88px;
    margin: 0px auto;
    width: 88px;
}

.ex-page-content .text-error {
    color: #71b6f9;
    text-shadow: rgba(113, 182, 249, 0.3) 5px 1px, rgba(113, 182, 249, 0.2) 12px 3px, rgba(113, 182, 249, 0.3) 6px 4px;
    font-size: 98px;
    font-weight: 700;
    line-height: 150px;
}

.ex-page-content .text-error i {
    font-size: 78px;
    padding: 0px 10px;
}