/*
Template Name: Adminto Dashboard
Author: CoderThemes
Email: coderthemes@gmail.com
File: Menu
*/
.logo {
    color: #ff9900 !important;
    font-size: 32px;
    margin-top: 8px;
    font-family: 'Rancho', cursive;
    float: left;
}

.logo span span {
    color: #cccccc !important;
}

#topnav {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    background-color: transparent;
    border: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    min-height: 62px;
    box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}

#topnav .active a:first-of-type {
    color: #000000;
}

#topnav .active a:first-of-type i {
    color: #000000;
}

#topnav .active .submenu li.active a {
    color: #000000;
}

#topnav .topbar-main {
    background-color: #262626;
}

#topnav .topbar-main .badge {
    position: absolute;
    top: 12px;
    right: 7px;
}

#topnav .topbar-main .nav > li > a {
    color: #ffffff !important;
    line-height: 60px;
    padding: 0px 15px;
    position: relative;
    background: transparent !important;
}

#topnav .topbar-main .nav > li > a i {
    font-size: 16px;
}

#topnav .topbar-main .navbar-nav > .open > a {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

#topnav .topbar-main .profile img {
    border: 2px solid #edf0f0;
    height: 36px;
    width: 36px;
}

#topnav .topbar-main .navbar-nav {
    margin: 0px;
}

#topnav .app-search {
    position: relative;
    margin: 15px 30px 15px 10px;
}

#topnav .app-search a {
    position: absolute;
    top: 5px;
    right: 20px;
    color: rgba(255, 255, 255, 0.7);
}

#topnav .app-search .form-control,
#topnav .app-search .form-control:focus {
    border: none;
    font-size: 13px;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 40px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: none;
    border-radius: 30px;
    height: 30px;
    width: 180px;
}

#topnav .app-search input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-weight: normal;
}

#topnav .app-search input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-weight: normal;
}

#topnav .app-search input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-weight: normal;
}

#topnav .app-search input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-weight: normal;
}

#topnav .navbar-custom {
    background-color: #ffffff;
}

#topnav .navbar-toggle {
    border: 0;
    position: absolute;
    width: 5%;
    height: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    text-align: center;
    top: 0;
    left: 45%;
    font-size: 2rem;
    color: #FFF;
}

#topnav .navbar-toggle:hover {
    background-color: transparent;
}

#topnav .navbar-toggle:hover span {
    background-color: #ff9900;
}

#topnav .navbar-toggle:focus {
    background-color: transparent;
}

#topnav .navbar-toggle:focus span {
    background-color: #ff9900;
}

#topnav .navbar-toggle .lines {
    width: 25px;
    display: block;
    position: relative;
    margin: 23px auto 17px auto;
    height: 18px;
}

#topnav .navbar-toggle span {
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    display: block;
    margin-bottom: 5px;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform .5s ease;
}

#topnav .navbar-toggle.open span {
    position: absolute;
}

#topnav .navbar-toggle.open span:first-child {
    top: 6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#topnav .navbar-toggle.open span:nth-child(2) {
    visibility: hidden;
}

#topnav .navbar-toggle.open span:last-child {
    width: 100%;
    top: 6px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#topnav .navigation-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

#topnav .navigation-menu > li {
    float: left;
    display: block;
    position: relative;
}

#topnav .navigation-menu > li > a {
    display: block;
    color: #435966;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    line-height: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #eeeeee;
}

#topnav .navigation-menu > li > a:hover {
    color: #ff9900;
}

#topnav .navigation-menu > li > a:hover i {
    color: #ff9900;
}

#topnav .navigation-menu > li > a:focus {
    color: #ff9900;
}

#topnav .navigation-menu > li > a:focus i {
    color: #ff9900;
}

#topnav .navigation-menu > li > a:active {
    color: #ff9900;
}

#topnav .navigation-menu > li > a:active i {
    color: #ff9900;
}

#topnav .navigation-menu > li > a i {
    font-size: 18px;
    margin-right: 5px;
    color: rgba(67, 89, 102, 0.8);
    vertical-align: middle;
}

#topnav .navigation-menu > li > a:hover,
#topnav .navigation-menu > li > a:focus {
    background-color: transparent;
}

@media (min-width: 992px) {
    #topnav .navigation-menu > li > a {
        padding-top: .75rem;
        padding-bottom: .75rem;
    }
}

/*
  Responsive Menu
*/
@media (min-width: 992px) {
    #topnav .navigation-menu > li.last-elements .submenu {
        left: auto;
        right: 0;
    }

    #topnav .navigation-menu > li.last-elements .submenu > li.has-submenu .submenu {
        left: auto;
        right: 100%;
        margin-left: 0;
        margin-right: 10px;
    }

    #topnav .navigation-menu > li:first-of-type a {
        padding-left: 0px;
    }

    #topnav .navigation-menu > li:hover a {
        color: #ff9900;
    }

    #topnav .navigation-menu > li:hover a i {
        color: #ff9900;
    }

    #topnav .navigation-menu > li .submenu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        border: 1px solid #e7e7e7;
        padding: 15px 0;
        list-style: none;
        min-width: 200px;
        visibility: hidden;
        opacity: 0;
        margin-top: 10px;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        background-color: #ffffff;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    }

    #topnav .navigation-menu > li .submenu.megamenu {
        white-space: nowrap;
        width: auto;
    }

    #topnav .navigation-menu > li .submenu.megamenu > li {
        overflow: hidden;
        width: 200px;
        display: inline-block;
        vertical-align: top;
    }

    #topnav .navigation-menu > li .submenu > li.has-submenu > a:after {
        content: "\e649";
        font-family: "themify";
        position: absolute;
        right: 20px;
        font-size: 9px;
    }

    #topnav .navigation-menu > li .submenu > li .submenu {
        left: 100%;
        top: 0;
        margin-left: 10px;
        margin-top: -1px;
    }

    #topnav .navigation-menu > li .submenu li {
        position: relative;
    }

    #topnav .navigation-menu > li .submenu li ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    #topnav .navigation-menu > li .submenu li a {
        display: block;
        padding: 8px 25px;
        clear: both;
        white-space: nowrap;
        color: #435966;
    }

    #topnav .navigation-menu > li .submenu li a:hover {
        color: #ff9900;
    }

    #topnav .navigation-menu > li .submenu li span {
        display: block;
        padding: 8px 25px;
        clear: both;
        line-height: 1.42857143;
        white-space: nowrap;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500;
        color: #949ba1;
    }

    #topnav .navbar-toggle {
        display: none;
    }

    #topnav #navigation {
        display: block !important;
    }
}

@media (max-width: 991px) {
    .wrapper {
        margin-top: 72px;
    }

    .container {
        width: auto;
    }

    #topnav .navigation-menu {
        float: none;
        max-height: 400px;
    }

    #topnav .navigation-menu > li {
        float: none;
    }

    #topnav .navigation-menu > li > a {
        color: #435966;
        padding: 15px;
    }

    #topnav .navigation-menu > li > a i {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 0px;
    }

    #topnav .navigation-menu > li > a:after {
        position: absolute;
        right: 15px;
    }

    #topnav .navigation-menu > li .submenu {
        display: none;
        list-style: none;
        padding-left: 20px;
        margin: 0;
    }

    #topnav .navigation-menu > li .submenu li a {
        display: block;
        position: relative;
        padding: 7px 20px;
        color: #435966;
    }

    #topnav .navigation-menu > li .submenu li a:hover {
        color: #ff9900;
    }

    #topnav .navigation-menu > li .submenu li.has-submenu > a:after {
        content: "\e64b";
        font-family: "themify";
        position: absolute;
        right: 30px;
    }

    #topnav .navigation-menu > li .submenu.open {
        display: block;
    }

    #topnav .navigation-menu > li .submenu .submenu {
        display: none;
        list-style: none;
    }

    #topnav .navigation-menu > li .submenu .submenu.open {
        display: block;
    }

    #topnav .navigation-menu > li .submenu.megamenu > li > ul {
        list-style: none;
        padding-left: 0;
    }

    #topnav .navigation-menu > li .submenu.megamenu > li > ul > li > span {
        display: block;
        position: relative;
        padding: 15px;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 2px;
    }

    #topnav .navigation-menu > li.has-submenu.open > a {
        color: #ff9900;
    }

    #topnav .navbar-header {
        float: left;
    }

    #navigation {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        display: none;
        height: auto;
        padding-bottom: 0;
        overflow: auto;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        background-color: #ffffff;
    }

    #navigation.open {
        display: block;
        overflow-y: auto;
    }
}

@media (min-width: 768px) {
    #topnav .navigation-menu > li.has-submenu:hover > .submenu {
        visibility: visible;
        opacity: 1;
        margin-top: 0;
    }

    #topnav .navigation-menu > li.has-submenu:hover > .submenu > li.has-submenu:hover > .submenu {
        visibility: visible;
        opacity: 1;
        margin-left: 0;
        margin-right: 0;
    }

    .navbar-toggle {
        display: block;
    }
}

.notification-box {
    margin-right: 10px;
}

.notification-box ul {
    max-height: 60px;
}

.notification-box ul li a {
    font-size: 24px;
    color: #ffffff;
    display: block;
    line-height: 60px;
}

.notification-box .noti-dot {
    position: relative;
    top: -45px;
}

.notification-box .pulse {
    width: 2px;
    height: 2px;
    border: 3px solid #ff5b5b;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #ff5b5b;
    z-index: 10;
    position: absolute;
    right: 3px;
}

.notification-box .dot {
    border: 4px solid #ff5b5b;
    background: transparent;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    height: 30px;
    width: 30px;
    -webkit-animation: pulse 3s ease-out;
    -moz-animation: pulse 3s ease-out;
    animation: pulse 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    position: absolute;
    top: -12px;
    left: -4px;
    z-index: 1;
    opacity: 0;
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -moz-transform: scale(0);
        opacity: 0.1;
    }
    50% {
        -moz-transform: scale(0.1);
        opacity: 0.3;
    }
    75% {
        -moz-transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 0.0;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -webkit-transform: scale(0);
        opacity: 0.1;
    }
    50% {
        -webkit-transform: scale(0.1);
        opacity: 0.3;
    }
    75% {
        -webkit-transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}

.user-box {
    text-align: center;
}

.user-box .user-img {
    position: relative;
}

.user-box .user-status {
    height: 12px;
    width: 12px;
    position: absolute;
    bottom: 8px;
    right: 15px;
    line-height: 0px !important;
}

.user-box .user-status i {
    font-size: 12px !important;
}

.user-box .user-status.away i {
    color: #f9c851;
}

.user-box .user-status.offline i {
    color: #ff5b5b;
}

.user-box .user-status.online i {
    color: #10c469;
}

.user-box .user-status.busy i {
    color: #98a6ad;
}

/* Footer */

.footer {
    border-top: 1px solid rgba(67, 89, 102, 0.1);
    bottom: 0px;
    text-align: left !important;
    padding: 20px 0px;
    position: absolute;
    right: 0px;
    left: 0px;
}

.footer ul li {
    padding-left: 10px;
    padding-right: 10px;
}

.footer ul li a {
    color: #98a6ad;
}

.footer ul li a:hover {
    color: #ff9900;
}

.wrapper.right-bar-enabled .right-bar {
    right: 0;
    display: block !important;
}

.wrapper.right-bar-enabled .left-layout {
    left: 0;
}

/* Right sidebar */
.side-bar.right-bar {
    float: right !important;
    right: -266px;
    top: 0px;
}

.side-bar {
    -moz-transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
    background-color: #ffffff;
    box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    display: block;
    float: left;
    height: 100%;
    position: fixed;
    transition: all 200ms ease-out;
    width: 240px;
}

.right-bar {
    background: #ffffff !important;
    z-index: 9999 !important;
}

.right-bar h4 {
    border-bottom: 1px solid rgba(152, 166, 173, 0.5);
    padding: 4px 10px 10px 18px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.03em;
}

.right-bar .right-bar-toggle {
    float: right;
    line-height: 46px;
    font-size: 20px;
    color: #333;
    padding: 0px 10px;
}

.notification-list {
    padding-bottom: 60px;
    height: 100%;
}

.notification-list .list-group-item {
    border-bottom: 1px solid rgba(152, 166, 173, 0.2) !important;
    margin-bottom: 0px;
}

.notification-list .list-group-item.active {
    background-color: rgba(152, 166, 173, 0.1);
}

.user-list .user-list-item .avatar {
    float: left;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.user-list .user-list-item .avatar img {
    border-radius: 50%;
    width: 100%;
}

.user-list .user-list-item .icon {
    float: left;
    margin-right: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
}

.user-list .user-list-item .icon i {
    color: #ffffff;
    line-height: 30px;
    font-size: 16px;
}

.user-list .user-list-item .user-desc {
    margin-left: 40px;
}

.user-list .user-list-item .user-desc span.name {
    color: #435966;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    overflow: hidden;
}

.user-list .user-list-item .user-desc span.desc {
    color: #98a6ad;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
}

.user-list .user-list-item .user-desc span.time {
    font-size: 11px;
    color: #ff9900;
    font-style: italic;
}

/* Invoice logo */
.invoice-logo {
    color: #188ae2 !important;
}
