{{ form_start( form ) }}
<div class="form-group">
    {{ form_label( form.name ) }}
    <div class="input-group">
        {{ form_widget( form.name ) }}
        <span class="input-group-addon">
            {{ form_widget( form.active ) }}
        </span>
    </div>
    {{ form_rest( form ) }}
    <div style="display:none">
        <button type="submit"></button>
    </div>
</div>
{{ form_end( form ) }}