<div class="card card-default">
    <div class="card-header">
        <h4 class="card-title">Account Landers</h4>
    </div>
    <div class="card-block">
        <div class="initial-hide">
            <div class="alert alert-info text-xs-center text-center"
                 data-ng-if="landers.landers.length===0">
                No Landers to Add
            </div>
            <div class="form-group" data-ng-if="landers.landers.length">
                <div class="input-group">
                    <ui-select data-ng-model="landers.selectedLander">
                        <ui-select-match
                                allow-clear="true"
                                placeholder="Select a Lander">{% verbatim %}{{ $select.selected.name }}{% endverbatim %}</ui-select-match>
                        <ui-select-choices
                                data-repeat="item in landers.landers | filter: $select.search">
                            <div data-ng-bind="item.name | highlight: $select.search"></div>
                            <small data-ng-bind="item.url"></small>
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                                        <button class="btn btn-primary"
                                                data-ng-class="{'disabled':landers.selectedLander === null}"
                                                data-ng-click="linkLander()"
                                                type="button">
                                            <i class="fa fa-link"></i>
                                            Add
                                        </button>
                                    </span>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped" width="100%">
            <thead>
            <tr>
                <th width="50">ID</th>
                <th>Name</th>
                <th>Url</th>
                <th width="75">Active</th>
                <th width="75">Unlink</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-if="account.landers.length===0">
                <td colspan="5" align="center"><b>No Landers</b></td>
            </tr>
            <tr class="initial-hide" data-ng-repeat="lander in account.landers track by $index">
                <td align="center" data-ng-bind="lander.id"></td>
                <td data-ng-bind="lander.name"></td>
                <td data-ng-bind="lander.url"></td>
                <td align="center"><i class="fa"
                                      data-ng-class="{'fa-check text-success':lander.active, 'fa-close text.danger': !lander.active}"></i>
                </td>
                <td align="center">
                    <button type="button"
                            data-ng-click="unlinkLander(lander)"
                            class="btn btn-xs btn-danger"
                            title="Click to remove lander from account">
                        <i class="fa fa-unlink"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>