<div class="card card-default">
    <div class="card-header">
        <h4 class="card-title">Account Sources</h4>
    </div>
    <div class="card-block">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#source" aria-controls="source" role="tab"
                                                      data-toggle="tab">Manual</a></li>
            <li role="presentation" class=""><a href="#rss" aria-controls="rss" role="tab"
                                                data-toggle="tab">RSS</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="source">
                <div class="initial-hide">
                    <div class="alert alert-info text-xs-center text-center"
                         data-ng-if="sources.sources.length===0">
                        No Sources to Add
                    </div>
                    <div class="form-group" data-ng-if="sources.sources.length">
                        <div class="input-group">
                            <ui-select data-ng-model="sources.selectedSource">
                                <ui-select-match
                                        allow-clear="true"
                                        placeholder="Select a Source">{% verbatim %}{{ $select.selected.name }}{% endverbatim %}</ui-select-match>
                                <ui-select-choices
                                        data-repeat="item in sources.sources | filter: $select.search">
                                    <div data-ng-bind="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                        <button class="btn btn-primary"
                                                data-ng-class="{'disabled':sources.selectedSource === null}"
                                                data-ng-click="linkSource('source')"
                                                type="button">
                                            <i class="fa fa-link"></i>
                                            Add
                                        </button>
                                    </span>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-striped" width="100%">
                    <thead>
                    <tr>
                        <th width="50">ID</th>
                        <th>Name</th>
                        <th width="75">Active</th>
                        <th width="75">Unlink</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-if="account.baseSources.length===0">
                        <td colspan="4" align="center"><b>No Sources</b></td>
                    </tr>
                    <tr class="initial-hide" data-ng-repeat="source in account.baseSources track by $index">
                        <td align="center" data-ng-bind="source.id"></td>
                        <td data-ng-bind="source.name"></td>
                        <td align="center"><i class="fa"
                                              data-ng-class="{'fa-check text-success':source.active, 'fa-close text.danger': !source.active}"></i>
                        </td>
                        <td align="center">
                            <button type="button"
                                    data-ng-click="unlinkSource(source)"
                                    class="btn btn-xs btn-danger"
                                    title="Click to remove source from account">
                                <i class="fa fa-unlink"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="rss">
                <div class="initial-hide">
                    <div class="alert alert-info text-xs-center text-center"
                         data-ng-if="sources.rss.length===0">
                        No RSS Sources to Add
                    </div>
                    <div class="form-group" data-ng-if="sources.rss.length">
                        <div class="input-group">
                            <ui-select data-ng-model="sources.selectedRssSource">
                                <ui-select-match
                                        allow-clear="true"
                                        placeholder="Select an RSS Source">{% verbatim %}{{ $select.selected.name }}{% endverbatim %}</ui-select-match>
                                <ui-select-choices
                                        data-repeat="item in sources.rss | filter: $select.search">
                                    <div data-ng-bind="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                        <button class="btn btn-primary"
                                                data-ng-class="{'disabled':sources.selectedRssSource === null}"
                                                data-ng-click="linkSource('rss')"
                                                type="button">
                                            <i class="fa fa-link"></i>
                                            Add
                                        </button>
                                    </span>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-striped" width="100%">
                    <thead>
                    <tr>
                        <th width="50">ID</th>
                        <th>Name</th>
                        <th width="75">Active</th>
                        <th width="75">Unlink</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-if="account.rssSources.length===0">
                        <td colspan="4" align="center"><b>No Sources</b></td>
                    </tr>
                    <tr class="initial-hide" data-ng-repeat="source in account.rssSources track by $index">
                        <td align="center" data-ng-bind="source.id"></td>
                        <td data-ng-bind="source.name"></td>
                        <td align="center"><i class="fa"
                                              data-ng-class="{'fa-check text-success':source.active, 'fa-close text.danger': !source.active}"></i>
                        </td>
                        <td align="center">
                            <button type="button"
                                    data-ng-click="unlinkSource(source)"
                                    class="btn btn-xs btn-danger"
                                    title="Click to remove RSS source from account">
                                <i class="fa fa-unlink"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>