{{ form_start( form, {name:"update-configuration", attr:{name:"update-configuration", class:"form form-horizontal"}} ) }}
<div class="row">
    <div class="col-xs-12">{{ form_errors( form ) }}</div>
    <div class="col-xs-12">

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a class="" data-toggle="tab" href="#config-site"><i class="fa fa-cogs"></i> Settings</a>
            </li>
            <li role="presentation" class="">
                <a class="" data-toggle="tab" href="#config-meta"><i class="fa fa-wrench"></i> Meta Data</a>
            </li>
            <li role="presentation" class="">
                <a class="" data-toggle="tab" href="#config-emails"><i class="fa fa-envelope"></i> Emails</a>
            </li>
            <li role="presentation" class="">
                <a class="" data-toggle="tab" href="#config-login"><i class="fa fa-sign-in"></i> Login</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="config-site" role="tabpanel">
                {{ form_row( form.siteName ) }}
                {{ form_row( form.siteTitle ) }}
                {{ form_row( form.siteSlogan ) }}
                {{ form_row( form.companyName ) }}
                {% include 'CoreSysCoreBundle:Inputs:submit.html.twig' with {text: '<i class="fa fa-check"></i> Save'} %}
            </div>
            <div class="tab-pane fade" id="config-meta" role="tabpanel">
                {{ form_row( form.metaDescription ) }}
                {{ form_row( form.metaKeywords ) }}
                {{ form_row( form.metaAuthor ) }}
                {% include 'CoreSysCoreBundle:Inputs:submit.html.twig' with {text: '<i class="fa fa-check"></i> Save'} %}
            </div>
            <div class="tab-pane fade" id="config-emails" role="tabpanel">
                {{ form_row( form.adminEmail) }}
                {{ form_row( form.supportEmail) }}
                {% include 'CoreSysCoreBundle:Inputs:submit.html.twig' with {text: '<i class="fa fa-check"></i> Save'} %}
            </div>
            <div class="tab-pane fade" id="config-login" role="tabpanel">
                <div class="row switch-group">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <h5>Social Media Login</h5>
                            {{ form_widget( form.socialLogin, { attr: { help: '' } } ) }}
                            <small>Allow Social Media Logins?</small>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <h5>Facebook Login</h5>
                            {{ form_widget( form.facebookLogin, { attr: { help: '' } } ) }}
                            <small>Allow Users to Login with Facebook?</small>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <h5>Twitter Login</h5>
                            {{ form_widget( form.twitterLogin, { attr: { help: '' } } ) }}
                            <small>Allow Users to Login with Twitter?</small>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <h5>Google Plus Login</h5>
                            {{ form_widget( form.googleLogin, { attr: { help: '' } } ) }}
                            <small>Allow Users to Login with Google+?</small>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <h5>Instagram Login</h5>
                            {{ form_widget( form.instagramLogin, { attr: { help: '' } } ) }}
                            <span>Allow Users to Login with Instagram?</span>
                        </div>
                    </div>
                </div>
                {% include 'CoreSysCoreBundle:Inputs:submit.html.twig' with {text: '<i class="fa fa-check"></i> Save'} %}
            </div>
        </div>

    </div>
</div>
<div class="hidden" style="display:none">
    {{ form_rest( form ) }}
</div>
{{ form_end( form ) }}
<script type="application/javascript">

</script>