@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Karla:400,700);
@import url(https://fonts.googleapis.com/css?family=Rancho);
@import "variables.less";
@import "waves.less";
@import "forms.less";
@import "tabs.less";
@import "cards.less";
@import "social.less";

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  color: @grey;
  font-family: 'Roboto', sans-serif;
  background: @light5;
}

* {
  outline: none !important;
}

a {
  color: @dark;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }
}

.btn {
  &.btn-transparent {
    border-color: transparent !important;
    background-color: transparent !important;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  border: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  min-height: 4rem;
  width: 100%;
  -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, .02);
  -moz-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, .02);
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, .02);
  background-color: @dark;

  .logo-container {
    .logo {
      padding: .05rem .75rem 0.05rem 0rem;
      display: block;

      @media (min-width: 768px) {
        padding-left: .75rem;
      }
    }

    a, a:hover, a:focus, a:active {
      color: @white !important;
      text-decoration: none;
    }
  }

  .navbar-toggler {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    color: @white !important;
    font-size: 2rem;
    padding: 0.92rem 0.92rem;
    height: 100%;
  }

  .right-menu {
    padding-right: .75rem;

    .dropdown {
      display: inline-block;
      padding: 0.55rem 0.75rem;

      button {
        outline: none !important;
        border: none !important;
        background: transparent !important;
        color: @white !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        -o-box-shadow: none !important;
        box-shadow: none !important;

        &:hover {
          background: transparent;
          border: none;
        }
      }
    }
  }

  .nav-container {
    background-color: @white;
    -webkit-transition: left .5s ease-out, opacity .25s linear;
    -moz-transition: left .5s ease-out, opacity .25s linear;
    -o-transition: left .5s ease-out, opacity .25s linear;
    transition: left .5s ease-out, opacity .25s linear;

    @media (max-width: 767px) {
      position: fixed;
      top: 4rem;
      width: 0rem;
      height: 0;
      left: -15rem;
      padding: 0;
      opacity: 0;

      &.open {
        left: 0rem;
        width: 14rem;
        height: auto;
        opacity: 1;
        -webkit-box-shadow: 2px 2px 5px #999999, 1px 1px 2px #767676;
        -moz-box-shadow: 2px 2px 5px #999999, 1px 1px 2px #767676;
        -o-box-shadow: 2px 2px 5px #999999, 1px 1px 2px #767676;
        box-shadow: 2px 2px 5px #999999, 1px 1px 2px #767676;
      }

      .container {
        margin: 0;
        padding: 0;
        width: 100%;

        .nav {
          display: block;
          float: none;

          .nav-item {
            display: block;
            float: none;
            text-align: left;
            margin-left: 1rem;

            .nav-link {
              text-align: left;
              padding-left: 1rem !important;
            }

            .dropdown-toggle {
              &:after {
                position: absolute;
                top: 45%;
                right: 5%;
              }
            }

            .dropdown-menu {
              border-top-color: #DDDDDD;
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;
              left: 25%;
            }
          }
        }
      }
    }

    ul {
      &.nav {
        background: transparent;

        .nav-item {
          padding: 0;

          &.active {
            > .nav-link {
              color: @navlinkHover;
            }
          }

          .nav-link {
            color: @navlink;
            text-decoration: none !important;
            display: block;
            height: 100%;
            padding: 1rem 0.5rem;

            &:hover, &:active {
              color: @navlinkHover;
            }
          }
        }
      }
    }
  }
}

.logo {
  font-family: 'Rancho', cursive;
  font-size: 2.5rem;
  color: @white;

  span {
    color: @logoSpan;
  }
}

.content-container {
  padding-top: 4.25rem;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  @media (min-width: 768px) {
    padding-top: 7.5rem;
  }

  .page-title {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Rancho', cursive;
    padding: .75rem 0rem;

    .page-actions {
      font-size: 1rem;
      font-family: 'Roboto', sans-serif;
      float: right;
      padding-top: .55rem;
    }
  }
}

/* Waves */
.waves-effect {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.bg-white {
  background-color: white !important;
}

.initial-hide {
  display: none;
}

.ui-select-lg {
  span.ui-select-toggle,
  .ui-select-bootstrap > input.ui-select-search.form-control {
    height: 45px !important;
    line-height: 2.4rem !important;
    font-size: 1.2rem !important;
    max-width: 100% !important;
    width: 100% !important;
  }

  .ui-select-bootstrap .ui-select-toggle > a.btn {
    margin-top: 0px !important;
    font-size: 1.5rem !important;
    color: red !important;
  }
}

.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border-radius: 3px !important;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border-radius: 3px !important;
}