<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Update Source</h4>
        </div>
        <div class="modal-body">
            {% include 'AABAccountBundle:SourceRest:form.html.twig' %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="$(this).closest('.modal-content').find('form').find('button[type=submit]').click()">Update</button>
        </div>
    </div>
</div>