{% if showSaveBtn is not defined %}{% set showSaveBtn = false %}{% endif %}
<div class="container-fluid">
    {{ form_start(form, {name: 'form-source', attr: { name: 'form-source', class: 'form form-horizontal'}}) }}
    <div class="form-group">
        {{ form_errors( form.name ) }}
        {{ form_errors( form.active ) }}
        {{ form_label( form.name ) }}
        <div class="input-group">
            {{ form_widget( form.name ) }}
            <span class="input-group-addon">
                    {{ form_widget( form.active, {label: false}) }}
                </span>
        </div>
        <small class="form-text muted-text">Source Name | Active State</small>
    </div>

    {% if showSaveBtn %}
        <button type="submit" class="btn btn-primary pull-right">
            <i class="fa fa-check"></i>
            Update Source
        </button>
    {% endif %}

    <div style="display:none">
        {{ form_rest( form ) }}
        {% if not showSaveBtn %}
            <button type="submit"></button>
        {% endif %}
    </div>
    {{ form_end( form ) }}
</div>