{% if appName is not defined %}{% set appName = 'CSApp' %}{% endif %}
{% if moduleName is not defined %}{% set moduleName = appName %}{% endif %}
{% if dependencies is not defined %}{% set dependencies = ['ngResource','ui.bootstrap','ui.sortable'] %}{% endif %}
var {{ appName | raw }} = angular.module( '{{ moduleName | raw }}', {{ dependencies | serialize('json') | raw }}).filter( 'to_trusted', ['$sce', function ( $sce ) {
    return function ( text ) {
        return $sce.trustAsHtml( text );
    };
}] );