{% javascripts
'bundles/coresyscore/lib/jquery/jquery.min.js'
'bundles/coresyscore/lib/jqueryui/jquery-ui.js'
'bundles/coresyscore/lib/Bootstrap/dist/js/bootstrap.min.js'
'bundles/coresyscore/lib/Bootstrap4/plugins/bootbox.min.js'
'bundles/coresyscore/lib/Bootstrap4/plugins/colorpicker/bootstrap.colorpickersliders.min.js'
'bundles/coresyscore/lib/Bootstrap4/plugins/bootstrap-switch/js/bootstrap-switch.min.js'
'bundles/coresyscore/js/modernizr.min.js'
'bundles/coresyscore/theme/coresys/js/waves.js'
'bundles/coresyscore/theme/coresys/js/csMenus.js'
'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'
'https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'
'bundles/coresyscore/lib/toastr/toastr.js'
'bundles/coresyscore/lib/BootstrapConfirmation/confirmation.min.js'
output="js/coresys_admin_core.js" %}
<script type="application/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}