<!DOCTYPE html>
<html data-ng-app="CSApp" {% block html_tag %}{% endblock html_tag %}>
<head {% block head_tag %}{% endblock head_tag %}>
    {% block head %}
    {% block head_meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin
            - {{ cs_getConfigSetting( 'site_title' ) }} {% block head_meta_title %}{% endblock head_meta_title %}</title>
    {% endblock head_meta %}

        {% block head_css_core %}
            {% include 'CoreSysCoreBundle:Theme:CoreSys/Admin/coreCss.html.twig' %}
        {% endblock head_css_core %}

        {% block head_css %}
        {% endblock head_css %}

    {% block head_js_core %}
        <script type="application/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="application/javascript"
                src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        {% include 'CoreSysCoreBundle:Theme:CoreSys/Admin/coreJs.html.twig' %}
    {% endblock head_js_core %}

        {% block head_js %}
        {% endblock head_js %}

    {% endblock head %}
</head>
<body {% block body_tag %}{% endblock body_tag %}>
{% block body %}
    {% block body_header %}
        {% include 'CoreSysCoreBundle:Theme:CoreSys/Admin/header.html.twig' %}
    {% endblock body_header %}

    <div class="content-container">
        <div class="container">
            <div class="page-title">
                {% block body_title %}
                    Dashboard
                {% endblock body_title %}
                {% block body_title_actions %}
                    <div class="page-actions">
                        <div class="btn-group">
                            <button type="button" class="btn btn-transparent dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                {% block body_title_actions_text %}
                                    Actions
                                {% endblock body_title_actions_text %}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                {% block body_title_actions_items %}
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                {% endblock body_title_actions_items %}
                            </div>
                        </div>
                    </div>
                {% endblock body_title_actions %}
            </div>
            {% block body_content %}
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            {% endblock body_content %}
            <div class="m-b-3"></div>
        </div>
    </div>

    {% block body_js_core %}
    {% endblock body_js_core %}

    {% block body_js %}
    {% endblock body_js %}

{% block body_js_app %}
    <script type="application/javascript"
            src="{{ asset( '/bundles/coresyscore/theme/coresys/js/core.js') }}"></script>

    {% if app.session.flashBag | length > 0 %}
    <script>
        setTimeout( function () {
            {% for type,msgs in app.session.flashBag.all() %}
            {% for msg in msgs %}
                toastr.{{ type }}( '{{ msg }}' );
            {% endfor %}
            {% endfor %}
        }, 250 );
    </script>
    {% endif %}

{% endblock body_js_app %}
{% endblock body %}
</body>