@custom: #71B6F9;

// Color variables

@white: #FFFFFF;

@default: #DAE6EC;
@primary: #188AE2;
@success: #10C469;
@info: #35B8E0;
@warning: #F9C851;
@danger: #FF5B5B;
@purple: #5B69BC;
@pink: #FF8ACC;
@inverse: #3B3E47;
@muted: #98A6AD;
@light: #EEEEEE;
@dark: #435966;
@lightdark3: #333333;
@lightdark4: #444444;
@lightdark5: #555555;
@lightdark7: #797979;
@light5: #EBEFF2;
@light3: #F3F3F3;
@light9: #F9F9F9;
@light-alt: #FAFAFA;
@lightdark-alt: #CCCCCC;
@lightdark: #F4F8FB;
@lightgray: #7A8C9A;

// Width variables
@width: 100%;

// Height variables
@height: 100%;

//Font variables
@font-primary: 'Roboto', sans-serif;
@font-secondary: 'Karla', sans-serif;

