{% if adminMenuId is not defined %}{% set adminMenuId = '0' %}{% endif %}
{% if menu is not defined %}{% set menu = {} %}{% endif %}
{#{% if is_granted( 'ROLE_ADMIN' ) %}#}
<li data-admin-menu="{{ adminMenuId }}" {{ menu.active ? '' : 'style="display:none"' }}
    class="nav-item dropdown {{ cs_routeContains( ['admin_user','admin_config','admin_admin_menu','admin_users_account_levels' ] ) ? 'active' : '' }}">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
       href="javascript:void(0)" role="button" aria-haspopup="true"
       aria-expanded="false">
        <i class="fa fa-cogs"></i>
        Config
    </a>
    <ul class="dropdown-menu">
        <li class="nav-item {{ cs_routeContains( ['admin_configuration'], true ) ? 'active' : '' }}">
            <a class="nav-link" href="{{ url( 'admin_configuration' ) }}">
                <i class="fa fa-cogs"></i>
                Site Configuration
            </a>
        </li>
        <li class="nav-item {{ cs_routeContains( ['admin_admin_menu' ] ) ? 'active' : '' }}">
            <a class="nav-link" href="{{ url( 'admin_admin_menus' ) }}">
                <i class="fa fa-list"></i>
                Admin Menus
            </a>
        </li>
        <li class="nav-item {{ cs_routeContains( ['admin_configuration_role' ] ) ? 'active' : '' }}">
            <a class="nav-link" href="{{ url( 'admin_configuration_roles' ) }}">
                <i class="fa fa-user"></i>
                User Roles
            </a>
        </li>
        <li class="nav-item {{ cs_routeContains( ['admin_configuration_access' ] ) ? 'active' : '' }}">
            <a class="nav-link" href="{{ url( 'admin_configuration_access' ) }}">
                <i class="fa fa-user-plus"></i>
                User Access
            </a>
        </li>
        <li class="nav-item {{ cs_routeContains( ['admin_configuration_users' ] ) ? 'active' : '' }}">
            <a class="nav-link" href="{{ url( 'admin_configuration_users' ) }}">
                <i class="fa fa-users"></i>
                User Management
            </a>
        </li>
        {#<li class="{{ cs_routeContains( ['admin_user']) ? 'active' : '' }}">#}
        {#<a href="{{ url( 'admin_users' ) }}">#}
        {#<i class="fa fa-group"></i>#}
        {#Users#}
        {#</a>#}
        {#</li>#}
        {#<li class="{{ cs_routeContains( ['admin_users_account_levels']) ? 'active' : '' }}">#}
        {#<a href="{{ url( 'admin_users_account_levels' ) }}">#}
        {#<i class="fa fa-group"></i>#}
        {#Account Levels#}
        {#</a>#}
        {#</li>#}
    </ul>
</li>
{#{% endif %}#}