{% if adminMenuId is not defined %}{% set adminMenuId = '0' %}{% endif %}
{% if menu is not defined %}{% set menu = {} %}{% endif %}
<li data-admin-menu="{{ adminMenuId }}" {{ menu.active ? '' : 'style="display:none"' }}
    class="nav-item dropdown {{ cs_routeContains( ['media_image' ] ) ? 'active' : '' }}">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
       href="javascript:void(0)" role="button" aria-haspopup="true"
       aria-expanded="false">
        <i class="fa fa-cogs"></i>
        Images
    </a>
    <ul class="dropdown-menu">
        <li class="nav-item {{ cs_routeContains( ['media_image_size'], true ) ? 'active' : '' }}">
            <a class="nav-link" href="{{ url( 'admin_configuration' ) }}">
                <i class="fa fa-cogs"></i>
                Image Sizes
            </a>
        </li>
        <li class="nav-item {{ cs_routeContains( ['media_images_list' ] ) ? 'active' : '' }}">
            <a class="nav-link" href="{{ url( 'admin_admin_menus' ) }}">
                <i class="fa fa-list"></i>
                Images
            </a>
        </li>
    </ul>
</li>