{% set resource = tableData.resource %}
{% spaceless %}
function createNew{{ resource }}( element ) {
    var $element = $( element ),
        urlName  = $element.attr( 'data-url' ),
        readyUrl = $element.attr( 'data-ready-url' );

    if( readyUrl !== null && readyUrl !== undefined ) {
        {{ modalVar | raw }}.
        load( readyUrl, function(){
            {{ modalVar | raw }}.
            modal( 'show' );
            setup{{ resource }}Form();
        });
    } else {
        {{ modalVar | raw }}.
        load( Routing.generate( urlName, {_format: 'html'} ), function () {
            {{ modalVar | raw }}.
            modal( 'show' );
            setup{{ resource }}Form();
        } );
    }
}
function setup{{ resource }}Form( editId, row ) {
    var $form = {{ modalVar | raw }}.
    find( 'form' );
    $form.submit( function ( e ) {
        e.preventDefault();
        var data   = {},
            url,
            method = 'POST';

        $form.find( 'input, select, textarea' ).each( function () {
            var $input = $( this ),
                name   = $input.attr( 'name' ),
                value  = $input.val(),
                type   = $input.attr( 'type' );
            if ( type === 'checkbox' ) {
                data[name] = $input.prop( 'checked' );
            } else {
                data[name] = value;
            }
        } );

        if ( editId !== null && editId !== undefined ) {
            url    = Routing.generate( '{{ tableData.editUrl }}', {'_format': 'json', 'entity': editId} );
            method = 'PUT';
        } else {
            url    = Routing.generate( '{{ tableData.createUrl }}', {'_format': 'json'} );
            method = 'POST';
        }

        $.ajax( {
            url:         url,
            type:        method,
            contentType: 'application/json',
            data:        JSON.stringify( data ),
            success:     function ( res ) {
                {{ modalVar | raw }}.
                modal( 'hide' );
                {#{{ dtVar | raw }}.ajax.reload();#}
                if ( method === 'POST' ) {
                    {{ dtVar | raw }}.
                    row.add( res ).draw( false );
                } else {
                    {{ dtVar | raw }}.
                    rows( row ).data( res ).draw( false );
                }
            }, error: function(err, type, errorType) {
                var data = err.responseText;
                data = typeof data === 'object' ? data : JSON.parse( data );
                var errors = data.errors !== undefined ? data.errors : null;

                if( errors === null || errors === undefined || $.isArray( errors ) ) {
                    toastr.error( 'Could not add {{ resource }}');
                } else {
                    toastr.error( errors );
                }
            }
        } );
    } );
}
function view{{ resource }}( element ) {
    var $element = $( element ),
        viewId   = $element.attr( 'data-id' ),
        url      = $element.attr( 'data-url' ),
        params   = $element.attr( 'data-url-params' );

    window.location.href = Routing.generate( url, {id: viewId} );
}
function edit{{ resource }}( element ) {
    var $element = $( element ),
        editId   = $element.attr( 'data-id' ),
        url      = $element.attr( 'data-url' ),
        row      = parseInt( $element.attr( 'data-row' ) );

    {{ modalVar | raw }}.
    load( Routing.generate( url, {'_format': 'html', entity: editId} ), function () {
        {{ modalVar | raw }}.
        modal( 'show' );
        setup{{ resource }}Form( editId, row );
    } );

}
function remove{{ resource }}( element ) {
    var $element = $( element ),
        url      = $element.attr( 'data-url' ),
        id       = $element.attr( 'data-id' ),
        row      = parseInt( $element.attr( 'data-row' ) );
    bootbox.confirm( 'Are you sure you want to remove this {{ resource }}?', function ( res ) {
        if ( res === true ) {

            url = Routing.generate( url, {entity: id} );

            $.ajax( {
                url:         url,
                method:      'DELETE',
                contentType: 'application/json',
                success:     function ( res ) {
                    {{ dtVar | raw }}.
                    rows( row ).nodes()
                            .to$().remove();
                }
            } );
        }
    } );
}
{% endspaceless %}