{% stylesheets
'bundles/coresyscore/lib/DataTables/css/datatables.css'
'bundles/coresyscore/lib/DataTables/css/dataTables.bootstrap4.min.css'
filter="cssrewrite"
output="css/datatables/styles.css" %}
<link type="text/css" rel="stylesheet" href="{{ asset_url }}"/>
{% endstylesheets %}