{% javascripts
'bundles/coresyscore/lib/DataTables/js/dataTables.js'
'bundles/coresyscore/lib/DataTables/js/dataTables.bootstrap4.min.js'
'bundles/coresyscore/lib/bootbox.js'
output="js/datatables/dt.js" %}
<script type="application/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}