{% if bsVersion is not defined %}{% set bsVersion = 4 %}{% endif %}
{% if bsVersion == 3 %}
    {% include 'CoreSysCoreBundle:Datatables:tableBS3.html.twig' %}
{% else %}
    {% include 'CoreSysCoreBundle:Datatables:tableBS4.html.twig' %}
{% endif %}