{% if showSaveBtn is not defined %}{% set showSaveBtn = false %}{% endif %}
<div class="container-fluid">
    {{ form_start(form, {name: 'create-network', attr: { name: 'create-network', class: 'form form-horizontal'}}) }}

    <div class="form-group">
        {{ form_errors( form.name ) }}
        {{ form_errors( form.active ) }}
        {{ form_label( form.name ) }}
        <div class="input-group">
            {{ form_widget( form.name ) }}
            <span class="input-group-addon">
                    {{ form_widget( form.active, {label: false}) }}
                </span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <label class="control-label text-left text-xs-left" style="display:block">Auto Follow</label>
            {{ form_widget( form.autoFollow ) }}
        </div>
        <div class="col-xs-6">
            {{ form_label( form.followsPerDay ) }}
            {{ form_widget( form.followsPerDay ) }}
        </div>
        <div class="col-xs-6">
            {{ form_label( form.unfollowsPerDay ) }}
            {{ form_widget( form.unfollowsPerDay ) }}
        </div>
        <div class="col-xs-6">
            {{ form_label( form.maxPostsPerDay ) }}
            {{ form_widget( form.maxPostsPerDay ) }}
        </div>
        <div class="col-xs-6">
            {{ form_label( form.maxQueriesPerDay ) }}
            {{ form_widget( form.maxQueriesPerDay ) }}
        </div>
        <div class="col-xs-6">
            <label class="control-label text-left text-xs-left" style="display:block">Adult Content</label>
            {{ form_widget( form.adultContent ) }}
        </div>
    </div>

    {% if showSaveBtn %}
        <button type="submit" class="btn btn-primary pull-right">
            <i class="fa fa-check"></i>
            Update Network
        </button>
    {% endif %}

    <div style="display:none">
        {{ form_rest( form ) }}
        {% if not showSaveBtn %}
            <button type="submit"></button>
        {% endif %}
    </div>
    {{ form_end( form ) }}
</div>