<div class="container-fluid">
    {{ form_start(form, {name: 'create-category', attr: { name: 'create-category', class: 'form form-horizontal'}}) }}
    {{ form_row( form.name ) }}
    {{ form_row( form.description ) }}

    <div style="display:none">
        {{ form_rest( form ) }}
        <button type="submit"></button>
    </div>
    {{ form_end( form ) }}
</div>