function renderActionsColumn( data, type, row, meta ) {
    var ret = [
        {% if tableData is defined %}
        {% if tableData.rowActions is defined and tableData.rowActions | length > 0 %}
        {% for action in tableData.rowActions %}
        {% spaceless %}
        '{{ action.dataItem | raw }}'{% if not loop.last %},{% endif %}
        {% endspaceless %}
        {% endfor %}
        {% endif %}
        {% endif %}
    ];

    $.each( ret, function ( idx, btn ) {
        var $btn     = $( btn ),
            $wrapper = $( "<div/>" );
        $btn.attr( 'data-id', row.id ).attr( 'data-row', meta.row );
        $wrapper.append( $btn );
        ret[idx] = $wrapper.html();
    } );

    return '<div class="btn-group btn-group-sm">' + ret.join( '' ) + '</div>';
}