{% extends cs_extendAdmin() %}

{% block body_title %}
    Account `{{ account.name }}`
{% endblock body_title %}

{% block head_css %}
    {{ parent() }}
    {{ cs_datatableStyles() }}
    {% include 'CoreSysCoreBundle:Helpers:Angular/coreCss.html.twig' %}
{% endblock head_css %}

{% block body_title_actions %}
{% endblock body_title_actions %}

{% block body_content %}
    <div class="container ui-select-lg" data-ng-controller="AdminAccountController">
        <div class="card card-default">
            <div class="card-header">
                <div class="row">
                    <div class="col-xs-6">
                        <h4 class="card-title">Account Information</h4>
                    </div>
                    <div class="col-xs-6 text-xs-right text-right initial-hide">
                        <button type="button"
                                data-ng-if="!account.active"
                                data-ng-click="toggleAccountActive()"
                                class="btn btn-sm btn-danger"
                                title="Click to make Active">
                            <i class="fa fa-close"></i>
                        </button>
                        <button type="button"
                                data-ng-click="toggleAccountActive()"
                                data-ng-if="account.active"
                                class="btn btn-sm btn-success"
                                title="Click to make InActive">
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <ul class="list-group text-lg">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3"><b>Name</b></div>
                            <div class="col-xs-12 col-sm-9">{{ account.name }}</div>

                            <div class="col-xs-12 col-sm-3"><b>Created</b></div>
                            <div class="col-xs-12 col-sm-9">{{ account.createdAt.format( 'M d, Y g:i a' ) }}</div>

                            <div class="col-xs-12 col-sm-3"><b>Updated</b></div>
                            <div class="col-xs-12 col-sm-9">{{ account.updatedAt.format( 'M d, Y g:i a' ) }}</div>

                            <div class="col-xs-12 col-sm-3"><b>Project</b></div>
                            <div class="col-xs-12 col-sm-9">
                                <a href="{{ url( 'aab_admin_project', {id: account.project.id}) }}">
                                    <i class="fa fa-link"></i>
                                    {{ account.project.title }}
                                </a>
                            </div>

                            <div class="col-xs-12 col-sm-3"><b>Network</b></div>
                            <div class="col-xs-12 col-sm-9">
                                {% if account.network %}
                                    <a href="{{ url( 'aab_admin_network', {id: account.network.id}) }}">{{ account.network.name }}</a>
                                {% else %}
                                    No Network
                                {% endif %}
                            </div>

                            <div class="col-xs-12 col-sm-3"><b>Authorized App</b></div>
                            <div class="col-xs-12 col-sm-9">
                                {% if account.authorizedApp %}
                                    <a href="javascript:void(0)">{{ account.authorizedApp.name }}</a>
                                {% else %}
                                    No Authorized App
                                {% endif %}
                            </div>

                            <div class="col-xs-12 col-sm-3"><b>Account URL</b></div>
                            <div class="col-xs-12 col-sm-9">
                                <a href="{{ account.accountUrl }}">
                                    <i class="fa fa-link"></i>
                                    {{ account.accountUrl }}
                                </a>
                            </div>

                            <div class="col-xs-12 col-sm-3"><b>Post Frequency</b></div>
                            <div class="col-xs-12 col-sm-9">{{ account.postFrequency }}</div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
        {% include 'AABAccountBundle:Admin:Account/sources.html.twig' %}
        {% include 'AABAccountBundle:Admin:Account/landers.html.twig' %}
        <div class="card card-default">
            <div class="card-header">
                <h4>Account Populations</h4>
            </div>
            <div class="card-block">
                {% if account.populations | length == 0 %}
                    <div class="well text-xs-center text-center">
                        No Populations
                    </div>
                {% else %}
                    <div class="alert alert-warning">TO DO</div>
                {% endif %}
            </div>
        </div>
        <div class="card card-default">
            <div class="card-header">
                <h4 class="card-title">Update Project</h4>
            </div>
            <div class="card-block">
                {% include 'AABAccountBundle:AccountRest:form.html.twig' with {showSaveBtn: true} %}
            </div>
        </div>
    </div>
{% endblock body_content %}

{% block body_js_core %}
    {{ parent() }}
    {% include 'CoreSysCoreBundle:Helpers:Angular/coreJavascripts.html.twig' %}
{% endblock body_js_core %}

{% block body_tag %}
    {{ parent() }}
    data-ng-app="CSApp"
{% endblock body_tag %}

{% block body_js %}
    {{ parent() }}
    {{ cs_datatableJavascript() }}
    <script type="application/javascript">
        {#{{ cs_datatable_js( emptySource, dtJsSourceOverrides ) }}#}
        {#{{ cs_datatable_js( emptyLander, dtJsLanderOverrides ) }}#}
        {{ cs_helperAngularModule() }}
        CSApp.controller( 'AdminAccountController', ['$scope', '$resource', function ( $scope, $resource ) {
            $scope.account = {{ account | serialize( 'json' ) | raw }};
            $scope.sources = {
                sources: {{ sources | serialize( 'json' ) | raw }},
                selectedSource: null,
                rss: {{ rssSources | serialize( 'json' ) | raw }},
                selectedRss:    null
            };
            $scope.landers = {
                selectedLander: null,
                landers: {{ landers | serialize( 'json' ) | raw }}
            };

            var removeIdx = [];
            $.each( $scope.sources.sources, function ( idx, source ) {
                $.each( $scope.account.sources, function ( index, src ) {
                    if ( src.id === source.id ) {
                        removeIdx.unshift( idx );
                    }
                } );
            } );
            $.each( removeIdx, function ( i, idx ) { $scope.sources.sources.splice( idx, 1 ); } );

            removeIdx = [];
            $.each( $scope.sources.rss, function ( idx, source ) {
                $.each( $scope.account.sources, function ( index, src ) {
                    if ( src.id === source.id ) {
                        removeIdx.unshift( idx );
                    }
                } );
            } );
            $.each( removeIdx, function ( i, idx ) { $scope.sources.rss.splice( idx, 1 ); } );

            removeIdx = [];
            $.each( $scope.sources.landers, function ( idx, lander ) {
                $.each( $scope.landers.landers, function ( index, lndr ) {
                    if ( lndr.id === lander.id ) {
                        removeIdx.unshift( idx );
                    }
                } );
            } );
            $.each( removeIdx, function ( i, idx ) { $scope.landers.landers.splice( idx, 1 )} );

            window.scope = $scope;

            $scope.toggleAccountActive = function () {
                $scope.account.active = !$scope.account.active;

                var resource = $resource( '{{ url( 'api_aab_toggle_account', {entity: account.id}) }}', {}, {
                    patch: {method: 'PATCH'}
                } );

                resource.patch( null, function ( res ) {
                    $scope.account.active = res.active;
                    toastr.success( 'Made account `' + ($scope.account.active ? 'Active' : 'InActive') + '`' );
                    $scope.timedApply();
                }, function ( err ) {
                    toastr.error( 'Could not toggle account.' );
                } );
            };
            $scope.linkSource          = function ( which ) {
                var source = null;
                if ( which === 'source' ) {
                    source = $scope.sources.selectedSource;
                } else {
                    source = $scope.sources.selectedRssSource;
                }

                if ( source === null || source === undefined ) {
                    toastr.warning( 'Please select a source' );
                    return;
                } else {
                    var resource = $resource(
                            Routing.generate( 'api_aab_link_account_source', {
                                account: {{ account.id }},
                                source: source.id
                            } ),
                            {},
                            {
                                link: {
                                    method: 'LINK'
                                }
                            }
                    );

                    resource.link( null, function ( res ) {
                        toastr.success( 'Source Added' );
                        if ( which === 'source' ) {
                            $scope.account.baseSources.push( source );
                            var index = null;
                            $.each( $scope.sources.sources, function ( idx, src ) {
                                if ( src.id === source.id ) {
                                    index = idx;
                                    return false;
                                }
                            } );
                            if ( index !== null ) {
                                $scope.sources.sources.splice( index, 1 );
                                $scope.sources.selectedSource = null;
                            }
                        } else {
                            $scope.account.rssSources.push( source );
                            var index = null;
                            $.each( $scope.sources.rss, function ( idx, src ) {
                                if ( src.id === source.id ) {
                                    index = idx;
                                    return false;
                                }
                            } );
                            if ( index !== null ) {
                                $scope.sources.rss.splice( index, 1 );
                                $scope.sources.selectedSource = null;
                            }
                        }

                        toastr.success( 'Added source to account' );
                        $scope.timedApply();

                    }, function ( err ) {
                        toastr.error( 'Could not add source.' );
                    } );
                }
            };
            $scope.unlinkSource        = function ( source ) {
                var resource = $resource(
                        Routing.generate( 'api_aab_unlink_account_source', {
                            account: {{ account.id }},
                            source: source.id
                        } ), {},
                        {
                            unlink: {
                                method: 'UNLINK'
                            }
                        }
                );

                resource.unlink( null, function ( res ) {
                    if ( source.type === 'source' ) {
                        $scope.sources.sources.push( source );
                        var index = null;
                        $.each( $scope.account.baseSources, function ( idx, src ) {
                            if ( src.id === source.id ) {
                                index = idx;
                                return false;
                            }
                        } );
                        if ( index !== null ) {
                            $scope.account.baseSources.splice( index, 1 );
                        }
                    } else {
                        $scope.sources.rss.push( source );
                        var index = null;
                        $.each( $scope.account.rssSources, function ( idx, src ) {
                            if ( src.id === source.id ) {
                                index = idx;
                                return false;
                            }
                        } );
                        if ( index !== null ) {
                            $scope.account.rssSources.splice( index, 1 );
                        }
                    }

                    toastr.success( 'Removed Source' );

                    $scope.timedApply();
                }, function ( err ) {
                    toastr.error( 'Could not remove source' );
                } );
            };

            $scope.linkLander = function () {
                var lander = $scope.landers.selectedLander;
                if ( lander === null || lander === undefined ) {
                    toastr.warning( 'Please select a lander.' );
                    return;
                }

                var resource = $resource(
                        Routing.generate( 'api_aab_link_account_lander', {
                            account: {{ account.id }},
                            lander: lander.id
                        } ),
                        {},
                        {
                            link: {method: 'LINK'}
                        }
                );

                resource.link( null, function ( res ) {
                    $.each( $scope.landers.landers, function ( idx, lndr ) {
                        if ( lndr.id === lander.id ) {
                            $scope.landers.landers.splice( idx, 1 );
                            $scope.account.landers.push( lander );
                            $scope.landers.selectedLander = null;
                            return false;
                        }
                    } );

                    toastr.success( 'Added lander to account' );
                    $scope.timedApply();
                }, function ( err ) {
                    toastr.error( 'Could not link lander.' );
                } );
            };

            $scope.unlinkLander = function ( lander ) {
                var resource = $resource(
                        Routing.generate( 'api_aab_unlink_account_lander', {
                            account: {{ account.id }},
                            lander: lander.id
                        } ), {}, {
                            unlink: {method: 'UNLINK'}
                        }
                );

                resource.unlink(null, function(res){
                    $.each( $scope.account.landers, function(idx, lndr){
                        if( lndr.id === lander.id ) {
                            $scope.landers.landers.push( lander );
                            $scope.account.landers.splice( idx, 1 );
                            return false;
                        }
                    });

                    toastr.success( 'Removed lander from account' );
                },function(err){
                    toastr.error( 'Could not unlink lander' );
                });

                $scope.timedApply();
            };

            $scope.timedApply = function() {
                setTimeout( function () {
                    $scope.$apply();
                    $scope.showAll();
                }, 100 );
            };

            $scope.showAll = function () {
                $( '.initial-hide' ).removeClass( 'initial-hide' );
            };

            for ( var i = 0; i <= 2; i++ ) {
                setTimeout( function () {
                    $scope.showAll();
                }, i * 500 );
            }

        }] );
    </script>
{% endblock body_js %}