{% extends cs_extendAdmin() %}

{% block body_title %}
    Network `{{ network.name }}`
{% endblock body_title %}

{% block head_css %}
    {{ parent() }}
{% endblock head_css %}

{% block body_title_actions %}
{% endblock body_title_actions %}

{% block body_content %}
<div class="container">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-xs-6">
                    <h4 class="card-title">Network Information</h4>
                </div>
            </div>
        </div>
        <div class="card-block">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3"><b>Name</b></div>
                        <div class="col-xs-12 col-sm-9">{{ network.name }}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3"><b>Created At</b></div>
                        <div class="col-xs-12 col-sm-9">{{ network.createdAt.format( 'M d, Y g:i a') }}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3"><b>Last Updated</b></div>
                        <div class="col-xs-12 col-sm-9">{{ network.updatedAt.format( 'M d, Y g:i a') }}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3"><b>Accounts</b></div>
                        <div class="col-xs-12 col-sm-9">
                            {% for i,account in network.accounts %}
                                <a class="label label-default" style="margin-right:5px"
                                   href="{{ url( 'aab_admin_account', {id: account.id}) }}">{{ account.name }}</a>
                            {% else %}
                                NO ACCOUNTS
                            {% endfor %}
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3"><b>Name</b></div>
                        <div class="col-xs-12 col-sm-9">{{ network.name }}</div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="card card-default">
            <div class="card-header">
                <h4 class="card-title">Update Network</h4>
            </div>
            <div class="card-block">
                {% include 'AABAccountBundle:NetworkRest:form.html.twig' with {showSaveBtn: true} %}
            </div>
        </div>
    </div>
    {% endblock body_content %}

    {% block body_js %}
    {{ parent() }}
{% endblock body_js %}