{% extends cs_extendAdmin() %}

{% block body_title %}
    Project `{{ project.title }}`
{% endblock body_title %}

{% block head_css %}
    {{ parent() }}
    {{ cs_datatableStyles() }}
{% endblock head_css %}

{% block body_title_actions %}
{% endblock body_title_actions %}

{% block body_content %}
    <div class="container">
        <div class="card card-default">
            <div class="card-header">
                <div class="row">
                    <div class="col-xs-6">
                        <h4 class="card-title">Project Information</h4>
                    </div>
                    <div class="col-xs-6 text-xs-right text-right">
                        {% if not project.isDefault %}
                            <button type="button" data-href="javascript:makeProjectDefault()"
                                    data-confirmation="true"
                                    class="btn btn-sm btn-primary make-default" title="Make Default Project"
                                    data-toggle="tooltip"><i class="fa fa-check"></i> Make Default
                            </button>
                        {% endif %}
                        <button type="button" style="{{ project.isDefault ? '' : 'display:none' }}"
                                class="btn btn-success btn-sm disabled is-default"
                                title="Is Default" data-toggle="tooltip"><i class="fa fa-check"></i></button>
                        <span style="{{ project.active ? '' : 'display:none' }}"
                              class="is-active">
                                        <button data-href="javascript:toggleActive()" class="btn btn-success btn-sm"
                                                type="button"
                                                data-confirmation="true"
                                                title="Click to make inactive" data-toggle="tooltip"><i
                                                    class="fa fa-check"></i></button>
                                    </span>
                        <span style="{{ project.active ? 'display:none' : '' }}"
                              class="is-inactive">
                                        <button data-href="javascript:toggleActive()" class="btn btn-danger btn-sm"
                                                type="button"
                                                title="Click to make active"
                                                data-confirmation="true"
                                                data-toggle="tooltip"><i class="fa fa-close"></i></button>
                                    </span>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <ul class="list-group text-lg">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3"><b>Title</b></div>
                            <div class="col-xs-12 col-sm-9">{{ project.title }}</div>

                            <div class="col-xs-12 col-sm-3"><b>User</b></div>
                            <div class="col-xs-12 col-sm-9"><span class="label label-default"><a
                                            href="{{ url( 'admin_profile_user', {id: project.user.id}) }}">{{ project.user.username }}</a></span>
                            </div>

                            <div class="col-xs-12 col-sm-3"><b>Created</b></div>
                            <div class="col-xs-12 col-sm-9">{{ project.createdAt.format( 'M d, Y g:i a' ) }}</div>

                            <div class="col-xs-12 col-sm-3"><b>Last Updated</b></div>
                            <div class="col-xs-12 col-sm-9">{{ project.updatedAt.format( 'M d, Y g:i a' ) }}</div>

                            <div class="col-xs-12 col-sm-3"><b>Category</b></div>
                            <div class="col-xs-12 col-sm-9">{{ project.category.name }}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        {{ cs_datatable_html( emptyAccount, dtHtmlOverrides ) }}
        <div class="card card-default">
            <div class="card-header">
                <h4 class="card-title">Update Project</h4>
            </div>
            <div class="card-block">
                {% include 'AABAccountBundle:ProjectRest:form.html.twig' with {showSaveBtn: true} %}
            </div>
        </div>
    </div>
{% endblock body_content %}

{% block body_js %}
    {{ parent() }}
    {{ cs_datatableJavascript() }}
    <script type="application/javascript">
        function toggleActive() {
            $.ajax( {
                url:         Routing.generate( 'api_aab_toggle_project', {entity: {{ project.id }} } ),
                type:        'PATCH',
                contentType: 'application/json',
                success:     function ( res ) {
                    res = typeof res === 'object' ? res : JSON.parse( res );
                    if ( res.active ) {
                        $( '.is-active' ).show();
                        $( '.is-inactive' ).hide();
                    } else {
                        $( '.is-inactive' ).show();
                        $( '.is-active' ).hide();
                    }
                    toastr.success( 'Project has been made `' + (res.active ? 'ACTIVE' : 'INACTIVE') + '`' );
                }
            } );
        }
        {% if not project.isDefault %}
        function makeProjectDefault() {
            $.ajax( {
                url:         Routing.generate( 'api_aab_default_project', {entity: {{ project.id }} } ),
                type:        'PATCH',
                contentType: 'application/json',
                success:     function ( res ) {
                    toastr.success( 'Project is now the default project.' );
                    $( '.make-default' ).remove();
                    $( '.is-default' ).show();
                }
            } );
        }
        {% endif %}

        {{ cs_datatable_js( emptyAccount, dtJsOverrides ) }}
    </script>
{% endblock body_js %}