{% extends cs_extendAdmin() %}

{% block body_title %}
    Sources Management
{% endblock body_title %}

{% block head_css %}
    {{ parent() }}
    {{ cs_datatableStyles() }}
{% endblock head_css %}

{% block body_title_actions %}
{% endblock body_title_actions %}

{% block body_content %}
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#source" aria-controls="source" role="tab"
                                                  data-toggle="tab">Manual</a></li>
        <li role="presentation" class=""><a href="#rss" aria-controls="rss" role="tab"
                                            data-toggle="tab">RSS</a></li>
    </ul>
    <div class="tab-content bg-white">
        <div role="tabpanel" class="tab-pane fade in active" id="source">
            {{ cs_datatable_html( source ) }}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="rss">
            {{ cs_datatable_html( rssSource ) }}
        </div>
    </div>
{% endblock body_content %}

{% block body_js %}
    {{ parent() }}
    {{ cs_datatableJavascript() }}
    <script type="application/javascript">
        {{ cs_datatable_js( source ) }}
        {{ cs_datatable_js( rssSource ) }}
    </script>
{% endblock body_js %}