{% extends cs_extendSecurity() %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Forgot Password{% endblock title %}
{% block content %}
    <div class="m-t-40 card-box">
        <div class="text-xs-center">
            <h4 class="text-uppercase font-bold m-t-1 m-b-0">Reset Password</h4>

            <p class="text-muted m-b-0 font-13 m-t-20">Enter your email address and we'll send you an email with
                instructions to reset your password. </p>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-xs-12">
                    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}

                    <div id="fos_user_resetting_form">
                        <div class="form-group">
                            <input placeholder="New Password" type="password"
                                   id="fos_user_resetting_form_plainPassword_first"
                                   name="fos_user_resetting_form[plainPassword][first]" required="required"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <input placeholder="Confirm New Password" type="password"
                                   id="fos_user_resetting_form_plainPassword_second"
                                   name="fos_user_resetting_form[plainPassword][second]" required="required"
                                   class="form-control">
                        </div>
                        {{ form_row( form._token) }}
                    </div>
                    <div>
                        <button class="btn btn-custom btn-bordered btn-block waves-effect waves-light"
                                type="submit">{{ 'resetting.reset.submit'|trans }}</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}