{% if adminMenuId is not defined %}{% set adminMenuId = '0' %}{% endif %}
{% if menu is not defined %}{% set menu = {} %}{% endif %}
<li data-admin-menu="{{ adminMenuId }}" {{ menu.active ? '' : 'style="display:none"' }}
    class="nav-item dropdown {{ cs_routeContains( [
    'aab_admin_project',
    'aab_admin_account',
    'aab_admin_categor',
    'aab_admin_network',
    'aab_admin_source',
    'aab_admin_lander'
    ] ) ? 'active' : '' }}">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
       href="javascript:void(0)" role="button" aria-haspopup="true"
       aria-expanded="false">
        <i class="fa fa-list"></i>
        Account Builder
    </a>
    <ul class="dropdown-menu">
        <li class="nav-item {{ cs_routeContains('aab_admin_categories') ? 'active' : '' }}">
            <a class="nav-link" href="{{ url( 'aab_admin_categories' ) }}">
                <i class="fa fa-th-list"></i>
                Manage Categories
            </a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="nav-item {{ cs_routeContains( 'aab_admin_netowrks' ) ? 'active' : '' }}">
            <a class="nav-link" href="{{ url( 'aab_admin_networks' ) }}">
                <i class="fa fa-th-list">
                    Manage Networks
                </i>
            </a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="nav-item {{ cs_routeContains( 'aab_admin_sources' ) ? 'active' : '' }}">
            <a class="nav-link" href="{{ url( 'aab_admin_sources' ) }}">
                <i class="fa fa-th-list">
                    Manage Sources
                </i>
            </a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="nav-item {{ cs_routeContains( 'aab_admin_landers' ) ? 'active' : '' }}">
            <a class="nav-link" href="{{ url( 'aab_admin_landers' ) }}">
                <i class="fa fa-th-list">
                    Manage Landers
                </i>
            </a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="nav-item {{ cs_routeContains('aab_admin_projects') ? 'active' : '' }}">
            <a class="nav-link" href="{{ url( 'aab_admin_projects' ) }}">
                <i class="fa fa-th-large"></i>
                Manage Projects
            </a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="nav-item {{ cs_routeContains('aab_admin_accounts') ? 'active' : '' }}">
            <a class="nav-link" href="{{ url( 'aab_admin_accounts' ) }}">
                <i class="fa fa-list-ol"></i>
                Manage Accounts
            </a>
        </li>
    </ul>
</li>