@import "variables.less";

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}

* {
  outline: none !important;
}

header {
  position: fixed;
  z-index: 1050;
  border: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  min-height: 5rem;
  width: 100%;
  -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, .02);
  -moz-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, .02);
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, .02);
  background-color: @dark;
}