{% trans_default_domain 'FOSUserBundle' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ cs_getConfigSetting( 'site_description') }}">
    <meta name="author" content="{{ cs_getConfigSetting( 'site_author') }}">

    <!-- App title -->
    <title>{% block title %}Login - {{ cs_getConfigSetting( 'site_title' ) }}{% endblock title %}</title>

    <!-- App CSS -->
    {% stylesheets
    'bundles/coresyscore/lib/Bootstrap4/css/bootstrap.min.css'
    'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css'
    filter="cssrewrite"
    output="css/core.css" %}
    <link type="text/css" rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% stylesheets
    'bundles/coresyscore/lib/fontAwesome/css/font-awesome.css'
    'bundles/coresyscore/theme/default/admin/css/menu.css'
    'bundles/coresyscore/theme/default/admin/css/components.css'
    'bundles/coresyscore/theme/default/admin/css/pages/security.css'
    'bundles/coresyscore/theme/default/admin/css/style.css'
    filter='cssrewrite'
    output='js/cs-sec-theme.css' %}
    <link type="text/css" rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {#<link href="{{ asset( 'bundles/coresyscore/lib/Tether/css/tether.min.css' ) }}" rel="stylesheet" type="text/css" />#}
    {#<link href="{{ asset( 'bundles/coresyscore/lib/Bootstrap4/css/bootstrap.min.css' ) }}" rel="stylesheet" type="text/css" />#}
    {#<link href="{{ cs_adminThemeAsset( 'bundles/coresyscore/css/core.css' ) }}" rel="stylesheet" type="text/css" />#}
    {#<link href="{{ asset( 'bundles/coresyscore/css/components.css' ) }}" rel="stylesheet" type="text/css" />#}
    {#<link href="{{ asset( 'bundles/coresyscore/lib/fontAwesome/css/font-awesome.css' ) }}" rel="stylesheet" type="text/css" />#}
    {#<link href="{{ cs_adminThemeAsset( 'bundles/coresyscore/css/icons.css' ) }}" rel="stylesheet" type="text/css" />#}
    {#<link href="{{ cs_adminThemeAsset( 'bundles/coresyscore/css/pages.css' ) }}" rel="stylesheet" type="text/css" />#}
    {#<link href="{{ cs_adminThemeAsset( 'bundles/coresyscore/css/menu.css' ) }}" rel="stylesheet" type="text/css" />#}
    {#<link href="{{ cs_adminThemeAsset( 'bundles/coresyscore/css/responsive.css' ) }}" rel="stylesheet" type="text/css" />#}
    <script type="application/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="application/javascript"
            src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {% javascripts
    'bundles/coresyscore/lib/jquery/jquery.min.js'
    'bundles/coresyscore/lib/Tether/js/tether.min.js'
    'bundles/coresyscore/lib/Bootstrap4/js/bootstrap.min.js'
    'bundles/coresyscore/js/modernizr.min.js'
    'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js'
    output="js/apps.js" %}
    <script type="application/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class="text-xs-center">
        <a href="/" class="logo">{{ cs_getConfigSetting( 'site_name' ) }}</a>
        <h5 class="text-muted m-t-0 font-600">{{ cs_getConfigSetting( 'site_slogan' ) }}</h5>
    </div>

    {% block content %}
    {% endblock content %}

    {% block content_links %}
        <div class="row">
            <div class="col-sm-12 text-xs-center">
                {% if not cs_routeContains( 'security_login') %}
                    <p class="text-muted">Have an account? <a href="{{ url( 'fos_user_security_login' ) }}"
                                                              class="text-primary m-l-5"><b>Login</b></a></p>
                {% endif %}
                <p class="text-muted">Don't have an account? <a href="{{ url( 'fos_user_registration_register' ) }}"
                                                                class="text-primary m-l-5"><b>Sign Up Free</b></a></p>
            </div>
        </div>
    {% endblock content_links %}

</div>
<!-- end wrapper page -->


<script>
    var resizefunc = [];
</script>

<!-- App js -->
<script src="{{ cs_adminThemeAsset( '/js/jquery.core.js' ) }}"></script>
<script src="{{ cs_adminThemeAsset( '/js/jquery.app.js' ) }}"></script>

</body>
</html>
