function renderUserGravatar( data, type, row ) {
    if ( !row.gravatar_use ) {
        return 'Not In Use';
    }

    return '<img src="' + row.gravatarUrl + '?d={{ cs_urlEncode( app.request.getSchemeAndHttpHost() ~ asset( '/bundles/coresyscore/images/defaultUser.jpg')) }}&s=20" />';
}