function renderAccessRoles( data, type, row ) {
    var $wrapper = $( '<div />' );

    if ( $.isArray( data ) && data.length > 0 ) {
        $.each( data, function ( idx, role ) {
            $wrapper.append( $( '<span title="' + role.name + ' - ' + role.roleName + '" class="label label-default" style="color:' + role.color + ';margin:2px 3px;">' + role.name + '</span>' ) );
        } );
    } else {
        $wrapper.append( $( '<span>N/A</span>' ) );
    }

    return $wrapper.html();
}