function renderAccessMethods( data, type, row ) {
    var $wrapper = $( '<div />' );

    if ( $.isArray( data ) && data.length > 0 ) {
        $.each( data, function ( idx, method ) {
            $wrapper.append( $( '<span class="label label-default" style="margin:2px 3px;">' + method + '</span>' ) );
        } );
    } else {
        $wrapper.append( $( '<b class="text-success">All</b>' ) );
    }

    return $wrapper.html();
}