function renderUserSocialData( data, type, row ) {

    function createCardData( title, data ) {
        var $card      = $( '<div class="card" />' ),
            $cardTitle = $( '<h4 style="padding:5px" class="card-title">' + title + '</h4>' ),
            $cardBlock = $( '<div class="card-block" />' ),
            $ul        = $( '<ul class="list-group" />' );

        $.each( data, function ( idx, val ) {

            var hasCard = false;

            if ( $.isArray( val ) || typeof val === 'object' && val !== null ) {
                hasCard = true;
                val     = createCardData( idx, val );
            }

            var $li    = $( '<li class="list-group-item" />' ),
                $row   = $( '<div class="row" />' ),
                $left  = $( '<div class="col-xs-4 col-sm-4 col-md-3"><b>' + idx + '</b></div>' ),
                $right = $( '<div class="col-xs-7 col-sm-7 col-md-8">' + val + '</div>' );

            if ( hasCard ) {
                $ul.append( $li.append( val ) );
            } else {
                $ul.append( $li.append( $row.append( $left ).append( $right ) ) );
            }
        } );

        $card.append( $cardTitle ).append( $cardBlock.append( $ul ) );

        return $card;
    }

    var data = data.socialData;
    if ( data === null || data === undefined ) {
        return 'N/A';
    }

    var facebookData  = data.facebookData,
        googleData    = data.googlePlusData,
        twitterData   = data.twitterData,
        instagramData = data.instagramData,
        $wrapper      = $( '<div />' ),
        hasData       = false;

    if ( facebookData !== null && facebookData !== undefined ) {
        hasData = true;
        $wrapper.append( createCardData( 'Facebook Data', facebookData ) );
    }

    if ( googleData !== null && googleData !== undefined ) {
        hasData = true;
        $wrapper.append( createCardData( 'Google Plus Data', googleData ) );
    }

    if ( twitterData !== null && twitterData !== undefined ) {
        hasData = true;
        $wrapper.append( createCardData( 'Twitter Data', twitterData ) );
    }

    if ( instagramData !== null && instagramData !== undefined ) {
        hasData = true;
        $wrapper.append( createCardData( 'Instagram Data', instagramData ) );
    }

    return hasData ? $wrapper.html() : 'N/A';
}