ul.nav.csmenu > .nav-item > .dropdown-menu {
  margin-top: -1px;
  border-top-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: #FFFFFF;
}
ul.nav.csmenu > .nav-item > .dropdown-menu .nav-item {
  display: block;
  width: 100%;
  text-align: left;
  margin-left: 0 !important;
}
ul.nav.csmenu > .nav-item > .dropdown-menu .nav-item .nav-link {
  padding: .5rem .5rem;
}
